Import the necessary libraries

In [1]:
import pandas as pd
df=pd.read_csv('datasets/Minimum Wage Data.csv',encoding='latin')
df.head()

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1968,Alaska,2.10,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88

Which year has more CPI.Average on average

In [2]:
df.groupby('Year')['CPI.Average'].mean().head(1)

Year
1968    34.783333
Name: CPI.Average, dtype: float64

For each year print the statistics for CPI.Average consumption

In [3]:
df.groupby('Year')['CPI.Average'].describe().head(10)

,count,mean,std,min,25%,50%,75%,max
Year,,,,,,,,
1968,55.0,34.783333,0.000000e+00,34.783333,34.783333,34.783333,34.783333,34.783333
1969,55.0,36.683333,3.585458e-14,36.683333,36.683333,36.683333,36.683333,36.683333
1970,55.0,38.825000,2.151275e-14,38.825000,38.825000,38.825000,38.825000,38.825000
1971,55.0,40.491667,3.585458e-14,40.491667,40.491667,40.491667,40.491667,40.491667
1972,55.0,41.816667,4.302550e-14,41.816667,41.816667,41.816667,41.816667,41.816667
1973,55.0,44.400000,4.302550e-14,44.400000,44.400000,44.400000,44.400000,44.400000
1974,55.0,49.308333,5.019642e-14,49.308333,49.308333,49.308333,49.308333,49.308333
1975,55.0,53.816667,5.019642e-14,53.816667,53.816667,53.816667,53.816667,53.816667
1976,55.0,56.908333,0.000000e+00,56.908333,56.908333,56.908333,56.908333,56.908333
1977,55.0,60.608333,4.302550e-14,60.608333,60.608333,60.608333,60.608333,60.608333

Print the mean CPI.Average per year for every column

In [8]:
df.groupby('Year')['CPI.Average'].mean().head(10)

Year
1968    34.783333
1969    36.683333
1970    38.825000
1971    40.491667
1972    41.816667
1973    44.400000
1974    49.308333
1975    53.816667
1976    56.908333
1977    60.608333
Name: CPI.Average, dtype: float64

Print the median CPI.Average per year for every column

In [9]:
df.groupby('Year')['CPI.Average'].median().head(10)

Year
1968    34.783333
1969    36.683333
1970    38.825000
1971    40.491667
1972    41.816667
1973    44.400000
1974    49.308333
1975    53.816667
1976    56.908333
1977    60.608333
Name: CPI.Average, dtype: float64

Print the mean, min and max values for Low.2018

In [6]:
df.groupby('Year')['Low.2018'].agg(['mean', 'min', 'max']).head()

          mean  min    max
Year
1968  6.063889  0.0  15.12
1969  5.749444  0.0  14.33
1970  6.018333  0.0  13.54
1971  5.770370  0.0  12.99
1972  6.732778  0.0  12.57

In [7]:
df['Low.2018'].mean()

6.200251916757936