In [3]:
import pandas as pd

In [4]:

raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [9]:
df=pd.DataFrame(raw_data,columns=['name','type','hp','evolution','pokedex'])

df

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [10]:
df['place']=['bush','jungle','earth','paradise']
df

         name   type  hp   evolution pokedex     place
0   Bulbasaur  grass  45     Ivysaur     yes      bush
1  Charmander   fire  39  Charmeleon      no    jungle
2    Squirtle  water  44   Wartortle     yes     earth
3    Caterpie    bug  45     Metapod      no  paradise

In [19]:
df.dtypes()

TypeError: 'Series' object is not callable