 Import the necessary libraries

In [1]:
import pandas as pd

Create the DataFrame with the following values

In [2]:
raw_data= {'team': ['Alpha', 'Alpha', 'Alpha', 'Alpha', 'Bravo', 'Bravo', 'Bravo','Bravo', 'Charlie', 'Charlie', 'Charlie', 'Charlie'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Muller', 'Jao', 'Ali', 'Milner', 'Cook', 'Jacob', 'Ryaner', 'Sone', 'Sloan', 'Pique', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62,70]}

Assign it to a variable called my_data

In [13]:
df= pd.DataFrame(raw_data, columns = raw_data.keys())
#df.to_csv('datasets/raw_data.csv')
df

       team company    name  preTestScore  postTestScore
0     Alpha     1st  Muller             4             25
1     Alpha     1st     Jao            24             94
2     Alpha     2nd     Ali            31             57
3     Alpha     2nd  Milner             2             62
4     Bravo     1st    Cook             3             70
5     Bravo     1st   Jacob             4             25
6     Bravo     2nd  Ryaner            24             94
7     Bravo     2nd    Sone            31             57
8   Charlie     1st   Sloan             2             62
9   Charlie     1st   Pique             3             70
10  Charlie     2nd   Riani             2             62
11  Charlie     2nd     Ali             3             70

What is the mean preTestScore from the team Alpha

In [4]:
df[df['team'] == 'Alpha'].groupby('team').mean()

       preTestScore  postTestScore
team
Alpha         15.25           59.5

Present general statistics by company

In [5]:
df.describe()

       preTestScore  postTestScore
count     12.000000      12.000000
mean      11.083333      62.333333
std       12.324833      21.376850
min        2.000000      25.000000
25%        2.750000      57.000000
50%        3.500000      62.000000
75%       24.000000      70.000000
max       31.000000      94.000000

What is the mean each company's preTestScore

In [6]:
df.groupby('company').preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

Present the mean preTestScores grouped by team and company

In [7]:
df.groupby(['team','company']).preTestScore.mean()

team     company
Alpha    1st        14.0
         2nd        16.5
Bravo    1st         3.5
         2nd        27.5
Charlie  1st         2.5
         2nd         2.5
Name: preTestScore, dtype: float64

Present the mean preTestScores grouped by team and company without heirarchical indexing

In [8]:
df.groupby(['team','company']).preTestScore.mean().unstack()

company   1st   2nd
team
Alpha    14.0  16.5
Bravo     3.5  27.5
Charlie   2.5   2.5

Group the entire dataframe by team and company

In [9]:
df.groupby(['team','company']).mean()

                 preTestScore  postTestScore
team    company
Alpha   1st              14.0           59.5
        2nd              16.5           59.5
Bravo   1st               3.5           47.5
        2nd              27.5           75.5
Charlie 1st               2.5           66.0
        2nd               2.5           66.0

What is the number of observations in each team and company

In [10]:
df.groupby(['team','company']).size().unstack()

company  1st  2nd
team
Alpha      2    2
Bravo      2    2
Charlie    2    2

 Iterate over a group and print the name and the whole data from the team

In [11]:
for name,data in df.groupby('team'):
    print(name)
    print(data)

Alpha
    team company    name  preTestScore  postTestScore
0  Alpha     1st  Muller             4             25
1  Alpha     1st     Jao            24             94
2  Alpha     2nd     Ali            31             57
3  Alpha     2nd  Milner             2             62
Bravo
    team company    name  preTestScore  postTestScore
4  Bravo     1st    Cook             3             70
5  Bravo     1st   Jacob             4             25
6  Bravo     2nd  Ryaner            24             94
7  Bravo     2nd    Sone            31             57
Charlie
       team company   name  preTestScore  postTestScore
8   Charlie     1st  Sloan             2             62
9   Charlie     1st  Pique             3             70
10  Charlie     2nd  Riani             2             62
11  Charlie     2nd    Ali             3             70