Importing the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

#Import the dataset and assign to df

df=pd.read_csv('datasets/weather_2012.csv')

#See the first 10 entries

df.head(10)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog

 Printing the name of all the columns

In [2]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

The number of observations in the dataset

In [3]:
df.shape[0]

8784

The number of observations in the columns

In [4]:
df.shape[1]

8

important info

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
Date/Time             8784 non-null object
Temp (C)              8784 non-null float64
Dew Point Temp (C)    8784 non-null float64
Rel Hum (%)           8784 non-null int64
Wind Spd (km/h)       8784 non-null int64
Visibility (km)       8784 non-null float64
Stn Press (kPa)       8784 non-null float64
Weather               8784 non-null object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

How  the dataset is indexed

In [6]:
df.index

RangeIndex(start=0, stop=8784, step=1)

Highest wind speed record

In [7]:
highest_wind=df.groupby('Date/Time').sum()
highest_wind=highest_wind.sort_values(['Wind Spd (km/h)'],ascending=False)
highest_wind.head(1)

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
Date/Time,,,,,,
2012-01-18 01:00:00,3.7,-2.1,66,83,25.0,98.36

Highest relative humidity  record

In [8]:
relhum=df.groupby('Date/Time').sum()
relhum=relhum.sort_values(['Rel Hum (%)'],ascending=False)
relhum.head(1)

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
Date/Time,,,,,,
2012-10-03 08:00:00,11.4,11.4,100,15,1.6,101.54

the data types in the data frame

In [9]:
df.dtypes

Date/Time              object
Temp (C)              float64
Dew Point Temp (C)    float64
Rel Hum (%)             int64
Wind Spd (km/h)         int64
Visibility (km)       float64
Stn Press (kPa)       float64
Weather                object
dtype: object

Print only the weather column

In [10]:
df.Weather

0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
5                        Fog
6                        Fog
7                        Fog
8                        Fog
9                        Fog
10                       Fog
11                       Fog
12                       Fog
13                       Fog
14                       Fog
15                       Fog
16             Mostly Cloudy
17                    Cloudy
18                      Rain
19                      Rain
20                    Cloudy
21                    Cloudy
22              Rain Showers
23                    Cloudy
24              Rain Showers
25                    Cloudy
26             Mostly Cloudy
27             Mostly Cloudy
28             Mostly Cloudy
29             Mostly Cloudy
                ...
8754            Mainly Clear
8755            Mainly Clear
8756                   Clear
8757            Mainly Clear
8758            Mainly Clear
8759           Mostly Cloudy
8760                  Cloudy
8761                  Cloudy
8762                  Cloudy
8763           Mostly Cloudy
8764                  Cloudy
8765                  Cloudy
8766                  Cloudy
8767            Snow Showers
8768            Snow Showers
8769                    Snow
8770                Snow,Fog
8771                    Snow
8772                    Snow
8773                    Snow
8774                    Snow
8775                    Snow
8776                    Snow
8777                    Snow
8778                    Snow
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object

How many different weather there are in this dataset

In [11]:
df.Weather.nunique()

50

the sum of temperature recorded

In [12]:
df['Temp (C)'].sum()

77282.90000000001

Summarize the DataFrame

In [13]:
df.describe()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

Summarize all the columns

In [14]:
df.describe(include='all') # By default, only the numeric columns are returned

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
count,8784,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784
unique,8784,NaN,NaN,NaN,NaN,NaN,NaN,50
top,2012-04-22 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,Mainly Clear
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,2106
mean,NaN,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,NaN
std,NaN,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,NaN
min,NaN,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,NaN
25%,NaN,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,NaN
50%,NaN,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,NaN
75%,NaN,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,NaN
max,NaN,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,NaN

Summarize only weather column

In [15]:
df.Weather.describe()

count             8784
unique              50
top       Mainly Clear
freq              2106
Name: Weather, dtype: object

Print only the relative humidity  column

In [16]:
df['Rel Hum (%)'].head()

0    86
1    87
2    89
3    88
4    88
Name: Rel Hum (%), dtype: int64

calculating the mean of relative humidity

In [17]:
df['Rel Hum (%)'].mean()

67.43169398907104

Discover what is the mean wind speed per date/time

In [29]:
df.groupby(['Date/Time'])['Wind Spd (km/h)'].mean().head()

Date/Time
2012-01-01 00:00:00    4
2012-01-01 01:00:00    4
2012-01-01 02:00:00    7
2012-01-01 03:00:00    6
2012-01-01 04:00:00    7
Name: Wind Spd (km/h), dtype: int64

For each date/time, calculate the minimum and maximum wind speed

In [35]:
df.groupby(['Date/Time'])['Wind Spd (km/h)'].agg(['min','max'])

                     min  max
Date/Time
2012-01-01 00:00:00    4    4
2012-01-01 01:00:00    4    4
2012-01-01 02:00:00    7    7
2012-01-01 03:00:00    6    6
2012-01-01 04:00:00    7    7
2012-01-01 05:00:00    9    9
2012-01-01 06:00:00    7    7
2012-01-01 07:00:00    7    7
2012-01-01 08:00:00    9    9
2012-01-01 09:00:00   15   15
2012-01-01 10:00:00    9    9
2012-01-01 11:00:00    7    7
2012-01-01 12:00:00    9    9
2012-01-01 13:00:00   13   13
2012-01-01 14:00:00   20   20
2012-01-01 15:00:00   22   22
2012-01-01 16:00:00   13   13
2012-01-01 17:00:00   13   13
2012-01-01 18:00:00   15   15
2012-01-01 19:00:00   15   15
2012-01-01 20:00:00   19   19
2012-01-01 21:00:00   20   20
2012-01-01 22:00:00   24   24
2012-01-01 23:00:00   30   30
2012-01-02 00:00:00   35   35
2012-01-02 01:00:00   39   39
2012-01-02 02:00:00   32   32
2012-01-02 03:00:00   33   33
2012-01-02 04:00:00   32   32
2012-01-02 05:00:00   32   32
...                  ...  ...
2012-12-30 18:00:00   24   24
2012-12-30 19:00:00   26   26
2012-12-30 20:00:00   24   24
2012-12-30 21:00:00   20   20
2012-12-30 22:00:00   19   19
2012-12-30 23:00:00   28   28
2012-12-31 00:00:00   26   26
2012-12-31 01:00:00   15   15
2012-12-31 02:00:00    9    9
2012-12-31 03:00:00    6    6
2012-12-31 04:00:00   11   11
2012-12-31 05:00:00    6    6
2012-12-31 06:00:00    4    4
2012-12-31 07:00:00    0    0
2012-12-31 08:00:00    4    4
2012-12-31 09:00:00    4    4
2012-12-31 10:00:00    4    4
2012-12-31 11:00:00    9    9
2012-12-31 12:00:00    4    4
2012-12-31 13:00:00    4    4
2012-12-31 14:00:00    6    6
2012-12-31 15:00:00    9    9
2012-12-31 16:00:00   13   13
2012-12-31 17:00:00   19   19
2012-12-31 18:00:00   17   17
2012-12-31 19:00:00   30   30
2012-12-31 20:00:00   24   24
2012-12-31 21:00:00   28   28
2012-12-31 22:00:00   28   28
2012-12-31 23:00:00   30   30

[8784 rows x 2 columns]

 For each combination of date/time and weather, calculate the mean wind speed

In [38]:
df.groupby(['Date/Time','Weather'])['Wind Spd (km/h)'].mean()

Date/Time            Weather
2012-01-01 00:00:00  Fog                      4
2012-01-01 01:00:00  Fog                      4
2012-01-01 02:00:00  Freezing Drizzle,Fog     7
2012-01-01 03:00:00  Freezing Drizzle,Fog     6
2012-01-01 04:00:00  Fog                      7
2012-01-01 05:00:00  Fog                      9
2012-01-01 06:00:00  Fog                      7
2012-01-01 07:00:00  Fog                      7
2012-01-01 08:00:00  Fog                      9
2012-01-01 09:00:00  Fog                     15
2012-01-01 10:00:00  Fog                      9
2012-01-01 11:00:00  Fog                      7
2012-01-01 12:00:00  Fog                      9
2012-01-01 13:00:00  Fog                     13
2012-01-01 14:00:00  Fog                     20
2012-01-01 15:00:00  Fog                     22
2012-01-01 16:00:00  Mostly Cloudy           13
2012-01-01 17:00:00  Cloudy                  13
2012-01-01 18:00:00  Rain                    15
2012-01-01 19:00:00  Rain                    15
2012-01-01 20:00:00  Cloudy                  19
2012-01-01 21:00:00  Cloudy                  20
2012-01-01 22:00:00  Rain Showers            24
2012-01-01 23:00:00  Cloudy                  30
2012-01-02 00:00:00  Rain Showers            35
2012-01-02 01:00:00  Cloudy                  39
2012-01-02 02:00:00  Mostly Cloudy           32
2012-01-02 03:00:00  Mostly Cloudy           33
2012-01-02 04:00:00  Mostly Cloudy           32
2012-01-02 05:00:00  Mostly Cloudy           32
                                             ..
2012-12-30 18:00:00  Mainly Clear            24
2012-12-30 19:00:00  Mainly Clear            26
2012-12-30 20:00:00  Clear                   24
2012-12-30 21:00:00  Mainly Clear            20
2012-12-30 22:00:00  Mainly Clear            19
2012-12-30 23:00:00  Mostly Cloudy           28
2012-12-31 00:00:00  Cloudy                  26
2012-12-31 01:00:00  Cloudy                  15
2012-12-31 02:00:00  Cloudy                   9
2012-12-31 03:00:00  Mostly Cloudy            6
2012-12-31 04:00:00  Cloudy                  11
2012-12-31 05:00:00  Cloudy                   6
2012-12-31 06:00:00  Cloudy                   4
2012-12-31 07:00:00  Snow Showers             0
2012-12-31 08:00:00  Snow Showers             4
2012-12-31 09:00:00  Snow                     4
2012-12-31 10:00:00  Snow,Fog                 4
2012-12-31 11:00:00  Snow                     9
2012-12-31 12:00:00  Snow                     4
2012-12-31 13:00:00  Snow                     4
2012-12-31 14:00:00  Snow                     6
2012-12-31 15:00:00  Snow                     9
2012-12-31 16:00:00  Snow                    13
2012-12-31 17:00:00  Snow                    19
2012-12-31 18:00:00  Snow                    17
2012-12-31 19:00:00  Snow                    30
2012-12-31 20:00:00  Snow                    24
2012-12-31 21:00:00  Snow                    28
2012-12-31 22:00:00  Snow                    28
2012-12-31 23:00:00  Snow                    30
Name: Wind Spd (km/h), Length: 8784, dtype: int64